/* General Page Styles */
body {
    font-family: Lucida, Courier, monospace;
    padding: 20px;
    background-color: #201d3a; /* Default Gray */
}

/* SHARED STYLES: All boxes get these rules */
.swatch {
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 4px solid #b1a3ff; /* Default Border */
    border-radius: 20px;
    color: white; /* Default text color inside boxes */
}

/* UNIQUE STYLES: Update the HEX codes below */

/* 1. Primary Color */
.primary {
    background-color: #383C63; /* CHANGE THIS */
}

/* 2. Accent Color */
.accent {
    background-color: #D88DF1; /* CHANGE THIS */
}

/* 3. Text/Light Color */
.text {
    background-color: #bbf9ff; /* CHANGE THIS */
    color: black; /* Dark text for light background */
}